<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="description" content="Vlad Kapitantchouk - Front and Back-End Web Developer." />
	<% if(typeof pageTitle !== 'undefined') {%>
		<title>VeeKay - <%= pageTitle %></title>
	<% } else {%>
		<!-- if did not include title when rendering -->
		<title>VeeKay - Vlad Kapitantchouk</title>
	<% } %>
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">

	<!-- animate, google fonts, font awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet" /><!-- for animations -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined">
	<script src="https://kit.fontawesome.com/ab865fe655.js" crossorigin="anonymous"></script>

	<!-- CSS -->
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/navbar.css">

	<!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

	<!-- JS -->
	<script src="js/navbar.js"></script>
</head>
<body class=""> 
	<main class=""> 
		<%- body %> 
	</main>
	<footer>
		
	</footer>
</body>
</html>
