<% layout('./layouts/boilerplate') %>
<div id="hero">
    <div id="hero-content">
        <!-- <h1>Full Stack Web Developer</h1>
        <h2>When the end-user leaves <span style="color:#3adcff">satisfied</span>, everyone wins.</h2>
        <h3>Vlad Kapitantchouk</h3> -->
        <h1>Vlad Kapitantchouk</h1>
        <h2>Full Stack Web Developer</h2>
        <!-- <h3>When the end-user leaves satisfied, everyone wins.</h3> -->
        <!-- <h2>Happy user, no one's a loser.</h2> -->
    </div>
</div>
<div id="nav-position"></div>
<div id="navbar">
    <a title="Vlad Kapitantchouk" href="#hero"><span><img class="nav-main-logo" src="images/veekay-main-logo.png"></span><i class="veekay-logo"><img src="images/veekay-main-logo.png"></i></a>
    <div id="nav-items-right">
        <a title="About" href="#about" id="about-nav-link"><span>About</span><i class="fa-solid fa-person"></i></a>
        <a title="Projects" href="#projects" id="projects-nav-link"><span>Projects</span><i class="fa-solid fa-diagram-project"></i></a>
        <a title="Contact" href="#contact" id="contact-nav-link"><span>Contact</span><i class="fa-solid fa-envelope"></i></a>
        <a title="Resume" id="resume-link" href="vlad-resume-2022.pdf" target="__blank"><span>Resume</span><i class="fa-solid fa-file-pdf"></i></a>
    </div>
        
</div>

<div id="main-content">
    <div class="twinkle-effect">
        <div class="grey-layer"></div>
    </div>
    <div id="about" class="container">
        
        <div class="half-flex">
            <div id="about-me-content">
                <blockquote><strong>“Great web design <span class="highlight-pink">without functionality</span> is like a sports car 
                    <span class="highlight-pink">with no engine</span>.”</strong></blockquote>
                <figcaption>- Paul Cookson</figcaption>
                
                <p>
                    My past real estate career has taught me the importance of empathy, active listening, and iterative testing in order to figure out the best solution for users of the 
                    service or product. What result do they want and how can we help them accomplish that with minimal effort? Carrying over my passion for creating 
                    automated solutions for end-users, I actively seek to create a seamless and intuitive experience for the user, while using the back-end to do the logical legwork.
                </p>
                <p>
                    Together, we can create the perfect harmony between what is going on behind the curtains and what is seen on stage to help the user succeed in accomplishing 
                    their goals.
                </p>
                <!-- <p>Some irrelevant spare-time interests: cars, real estate, photography, travel, the outdoors.</p> -->
                
                <div class="hidden" id="hidden-about-me">
                    <p> How did I decide get into web development? Seeing my first "Hello world!" in a casual project several years back was very exciting. After graduating from 
                        Ryerson University with a Finance major degree, I got to work in the real estate world. Finding myself voluntarily coding automation scripts to help me with my 
                        job (Python, VBA) and building websites for our businesses, I realized that the programming path is the one I should have went into.
                    </p>
                    <p>
                        Currently, while having experience in Node / Express and HTML / CSS / JS, I'm happy to learn new frameworks and libraries required for the job. Minimal and understandable 
                        code while maintaining the same performance levels is something that I always look forward to figuring out. Easy comprehension of the code is
                        one of the many things that will lead our team to success.
                    </p>
                    
                    
                </div>
                
                <a id="hide-about-me-toggle" onclick="showAboutMe()"><strong>Learn More</strong></a>
                <a href="vlad-resume-2022.pdf" class="button" target="_blank">Resume</a>

            </div>
        </div>
        <div class="half-flex">
            <div>
                <img id="portrait-img" src="images/portrait-old-smaller.jpg">
                <div>
                    <h4>Vlad Kapitantchouk</h4>
                </div>
                <div>
                    <span class="badge">HTML5</span>
                    <span class="badge">CSS3</span>
                    <span class="badge">Javascript (ES6)</span>
                    <span class="badge">Bootstrap 4 & 5</span>
                </div>
                <div>
                    <span class="badge">Node + Express</span>
                    <span class="badge">AJAX</span>
                    <span class="badge">MongoDB + MySQL</span>
                </div>
                <div><a href="https://ca.linkedin.com/in/vlad-kapitantchouk"><i class="fa-brands fa-linkedin-in social-links"></i></a>
                    <a href="https://github.com/vladk123"><i class="fa-brands fa-github social-links"></i></a>
                </div>
            </div>
        </div>
    </div>

    <br>
    <hr class="hr-left animated">
    <br><br>
    <hr class="hr-right animated">
    <br>

    <div id="projects" class="container">
        <div class="full-width-header">
            <h2>Projects</h2>
            
        </div>
        
        <div class="project-section" id="propsked">
            <div class="project-descrip">
                <h3>PropSked</h3>
                <p>
                    While working at FusePM at the end of 2021, I took on my first relatively advanced website that allows 
                    tenants to easily schedule showings without needing to contact the landlord. This automated service
                    saves the landlord time by not having to respond to every showing inquiry, with new users everyday.
                </p>
                <p>
                    Created with the help of several NPM packages and AJAX for a simpler experience.
                </p>
                <!-- <div> -->
                    <!-- <span class="badge">HTML5</span> -->
                    <!-- <span class="badge">CSS3</span> -->
                    <!-- <span class="badge">Javascript (ES6)</span> -->
                    <!-- <span class="badge">Bootstrap 5</span> -->
                <!-- </div> -->
                <div>
                    <span class="badge">Node + Express</span>
                    <span class="badge">AJAX</span>
                    <span class="badge">MongoDB</span>
                    <span class="badge">MySQL</span>
                </div>
                <p><a href="http://propsked.com" class="button" target="_blank">Deployment</a></p>
            </div>
            <a href="http://propsked.com" class="img-link img-carousel" target="_blank">
                <img class="img-link-img show" src="images/ps-0.JPG">
                <img class="img-link-img" src="images/ps-1.JPG">
                <img class="img-link-img" src="images/ps-2.JPG">
            </a>
        </div>
        <div class="project-section">
            <a href="http://yelpcamp.ca" class="img-link img-carousel" target="_blank">
                <img class="img-link-img show" src="images/yc-0.JPG">
                <img class="img-link-img" src="images/yc-1.JPG">
                <img class="img-link-img" src="images/yc-2.JPG">
            </a>
            <div class="project-descrip">
                <h3>YelpCamp</h3>
                <p>A coding practise project, this website allows users to post their photos and a summary of campgrounds. A map shows the location of each campground,
                    while other users can leave reviews of the location.</p>
                <p>Created with the help of Mongoose and EJS to show dynamic data.</p>
                <!-- <div> -->
                    <!-- <span class="badge">HTML5</span> -->
                    <!-- <span class="badge">CSS3</span> -->
                    <!-- <span class="badge">Javascript (ES6)</span> -->
                    <!-- <span class="badge">Bootstrap 4</span> -->
                <!-- </div> -->
                <div>
                    <span class="badge">Node + Express</span>
                    <span class="badge">MongoDB</span>
                </div>
                <p><a href="http://yelpcamp.ca" class="button" target="_blank">Deployment</a><a href="https://github.com/vladk123/yelpcamp" class="button" target="_blank">Github</a></p>
            </div>
        </div>

    </div>

    <br>
    <hr class="hr-left animated">
    <br><br>
    <hr class="hr-right animated">
    <br>

    <div id="contact" class="container">
        <div class="full-width-header">
            <h2>Contact</h2>
            <p>
                Get in touch.<br>
                I'd be happy to hear from you!
            </p>
            <p>
                <strong>vlad.kapitantchouk@gmail.com</strong>
            </p>
            <div>
                <form class="contact-form" action="/message" method="POST">
                    <input class="contact-form-field" name="contactName" id="name-field" placeholder="Name" autocomplete="off" required>
                    <input class="contact-form-field" name="contactEmail" id="email-field" placeholder="Email" autocomplete="off" required>
                    <textarea class="contact-form-field contact-msg" name="contactMessage" placeholder="Message" rows=7 autocomplete="off" required></textarea>
                    <div><a class="button" onclick="submitForm(this)">Send Message</a></div>
                </form>
            </div>

            <div id="form-submitted">
                <p>Thanks for reaching out. I'll be in touch with you as soon as I can!</p>
                <a class="message-close" onclick="hideMsg()">&#10006;</a>
            </div>

            <br>
            <div><a href="https://ca.linkedin.com/in/vlad-kapitantchouk"><i class="fa-brands fa-linkedin-in social-links"></i></a>
                <a href="https://github.com/vladk123"><i class="fa-brands fa-github social-links"></i></a>
            </div>
            <br>
        </div>
    </div>
    
</div>
