<% layout('./layouts/boilerplate') %>
<div id="hero">
    <div id="hero-content">
        <h1>Full Stack Web Developer</h1>
        <h2>When the end-user leaves <span style="color:#3adcff">satisfied</span>, everyone wins.</h2>
        <h3>Vlad Kapitantchouk</h3>
        <!-- <h1>Vlad Kapitantchouk</h1>
        <h2>Full Stack Web Developer</h2>
        <h3>When the end-user leaves satisfied, everyone wins.</h3> -->
        <!-- <h2>Happy user, no one's a loser.</h2> -->
    </div>
</div>
<div id="nav-position"></div>
<div id="navbar">
    <a title="Vlad Kapitantchouk" href="#hero"><span><img class="nav-main-logo" src="images/veekay-logo.png"></span><i class="veekay-logo"><img src="images/veekay-logo.png"></i></a>
    <div id="nav-items-right">
        <a title="About" href="#about" id="about-nav-link"><span>About</span><i class="fa-solid fa-person"></i></a>
        <a title="Projects" href="#projects" id="projects-nav-link"><span>Projects</span><i class="fa-solid fa-diagram-project"></i></a>
        <a title="Contact" href="#contact" id="contact-nav-link"><span>Contact</span><i class="fa-solid fa-envelope"></i></a>
        <a title="Resume" id="resume-link" href="vlad-resume-2022.pdf" target="__blank"><span>Resume</span><i class="fa-solid fa-file-pdf"></i></a>
    </div>
        
</div>

<div id="main-content">
    <div class="twinkle-effect">
        <div class="grey-layer"></div>
    </div>
    <div id="about" class="container">
        <div class="half-flex">
            <div id="about-me-content">
                <h3><strong>First sentence here - don't forget to make it larger and <span class="color-accent">some accenting color</span>.</strong></h3>
                <p> While my career has taken me another route, I always found myself tinkering with code in my spare time and finally came to realize
                    that this is the career path I should have taken. So I am leaping into the new (for me) and exciting world of web development.</p>
                <p>After graduating university and continuing my career path into real estate, I was coding automation 
                    scripts to help me with my job (Python, VBA, etc.) and building websites for our business. I didn't seem to realize this until 
                    2021, when I decided to take an online full-stack bootcamp.</p>
                <div class="hidden" id="hidden-about-me">
                    <p>More content will be here.</p>
                    <p>More content will be here.</p>
                    <p>More content will be here.</p>
                    <p>More content will be here.</p>
                    <p>More content will be here.</p>
                    <p>More content will be here.</p>
                </div>
                
                <strong><a id="hide-about-me-toggle" onclick="showAboutMe()">Show More</a></strong>
                <!-- <p>Some irrelevant interests: cars, real estate, photography, the outdoors.</p> -->
            </div>
        </div>
        <div class="half-flex">
            <div>
                <img id="portrait-img" src="images/portrait-old-smaller.jpg">
                <div>
                    <h4><span class="highlight-pink">V</span>lad <span class="highlight-pink">K</span>apitantchouk</h4>
                </div>
                <div>
                    <span class="badge">HTML5</span>
                    <span class="badge">CSS3</span>
                    <span class="badge">Javascript (ES6)</span>
                    <span class="badge">Bootstrap 4 & 5</span>
                </div>
                <div>
                    <span class="badge">Node + Express</span>
                    <span class="badge">AJAX</span>
                    <span class="badge">MongoDB + MySQL</span>
                </div>
                <div><a href="https://ca.linkedin.com/in/vlad-kapitantchouk"><i class="fa-brands fa-linkedin-in social-links"></i></a>
                    <a href="https://github.com/vladk123"><i class="fa-brands fa-github social-links"></i></a>
                </div>
            </div>
        </div>
    </div>

    <br>
    <hr class="hr-left animated">
    <br><br>
    <hr class="hr-right animated">
    <br>

    <div id="projects" class="container">
        <div class="full-width-header">
            <h2>Projects</h2>
            
        </div>
        
        <div class="project-section">
            <div class="project-descrip">
                <h3>PropSked</h3>
                <p>While still working at FusePM at the end of 2021, I began chipping away at a relatively advanced website that allows 
                    tenants to easily schedule showings without needing to contact the property manager or landlord that is doing showings 
                    (tenant screening, automated reminders, etc).</p>
                <!-- <div> -->
                    <!-- <span class="badge">HTML5</span> -->
                    <!-- <span class="badge">CSS3</span> -->
                    <!-- <span class="badge">Javascript (ES6)</span> -->
                    <!-- <span class="badge">Bootstrap 5</span> -->
                <!-- </div> -->
                <div>
                    <span class="badge">Node + Express</span>
                    <span class="badge">AJAX</span>
                    <span class="badge">MongoDB</span>
                    <span class="badge">MySQL</span>
                </div>
                <p><a href="http://propsked.com" class="button" target="_blank">Deployment</a></p>
            </div>
            <a href="http://propsked.com" class="img-link img-carousel" target="_blank">
                <img class="img-link-img show" src="images/ps-0.JPG">
                <img class="img-link-img" src="images/ps-1.JPG">
                <img class="img-link-img" src="images/ps-2.JPG">
            </a>
        </div>
        <div class="project-section">
            <a href="http://yelpcamp.ca" class="img-link img-carousel" target="_blank">
                <img class="img-link-img show" src="images/yc-0.JPG">
                <img class="img-link-img" src="images/yc-1.JPG">
                <img class="img-link-img" src="images/yc-2.JPG">
            </a>
            <div class="project-descrip">
                <h3>YelpCamp</h3>
                <p>While still working at Fuse PM at the end of 2021, I began chipping away at a relatively advanced website that allows 
                    tenants to easily schedule showings without needing to contact the property manager or landlord that is doing showings 
                    (tenant screening, automated reminders, etc).</p>
                <!-- <div> -->
                    <!-- <span class="badge">HTML5</span> -->
                    <!-- <span class="badge">CSS3</span> -->
                    <!-- <span class="badge">Javascript (ES6)</span> -->
                    <!-- <span class="badge">Bootstrap 4</span> -->
                <!-- </div> -->
                <div>
                    <span class="badge">Node + Express</span>
                    <span class="badge">MongoDB</span>
                </div>
                <p><a href="http://yelpcamp.ca" class="button" target="_blank">Deployment</a><a href="" class="button" target="_blank">Github</a></p>
            </div>
        </div>

    </div>

    <br>
    <hr class="hr-left animated">
    <br><br>
    <hr class="hr-right animated">
    <br>

    <div id="contact" class="container">
        <div class="full-width-header">
            <h2>Contact</h2>
            <p>
                Get in touch.<br>
                I'd be happy to hear from you!
            </p>
            <p>
                <strong>vlad.kapitantchouk@gmail.com</strong>
            </p>
            <div>
                <form class="contact-form" action="/message" method="POST">
                    <input class="contact-form-field" name="contactName" id="name-field" placeholder="Name" autocomplete="off" required>
                    <input class="contact-form-field" name="contactEmail" id="email-field" placeholder="Email" autocomplete="off" required>
                    <textarea class="contact-form-field contact-msg" name="contactMessage" placeholder="Message" rows=7 autocomplete="off" required></textarea>
                    <div><a class="button" onclick="submitForm(this)">Send Message</a></div>
                </form>
            </div>

            <div id="form-submitted">
                <p>Thanks for reaching out. I'll be in touch with you as soon as I can!</p>
                <a class="message-close" onclick="hideMsg()">&#10006;</a>
            </div>

            <br>
            <div><a href="https://ca.linkedin.com/in/vlad-kapitantchouk"><i class="fa-brands fa-linkedin-in social-links"></i></a>
                <a href="https://github.com/vladk123"><i class="fa-brands fa-github social-links"></i></a>
            </div>
            <br>
        </div>
    </div>
    
</div>
