<% layout('./layouts/boilerplate') %>
<div id="hero">
    <div id="hero-content">
        <h1>Full Stack Web Developer</h1>
        <h2>When the end-user leaves satisfied, everyone wins.</h2>
        <!-- <h2>Happy user, no one's a loser.</h2> -->
    </div>
</div>
<div id="nav-position"></div>
<div id="navbar">
    <div>
        <a href="#hero"><span>Vlad Kapitantchouk</span><i class="fa-solid fa-house"></i></a>
        <div id="nav-items-right">
            <a href="#about"><span>About</span><i class="fa-solid fa-person"></i></a>
            <a href="#projects"><span>Projects</span><i class="fa-solid fa-diagram-project"></i></a>
            <a href="#contact"><span>Contact</span><i class="fa-solid fa-envelope"></i></a>
            <a href="#resume"><span>Resume</span><i class="fa-solid fa-file-pdf"></i></a>
        </div>
        
    </div>
</div>

<div id="main-content">
    <div class="content">
        
    </div>
</div>