<% layout('./layouts/boilerplate') %>
<div id="hero">
    <div id="hero-content">
        <h1>Full Stack Web Developer</h1>
        <h2>When the end-user leaves satisfied, everyone wins.</h2>
        <!-- <h2>Happy user, no one's a loser.</h2> -->
    </div>
</div>

<div id="navbar">

</div>

<div id="main-content">
    <div class="content">

    </div>
</div>