<% layout('./layouts/boilerplate') %>
<!-- stars not on boiletplate because blurring these specifically on this page -->
<div class="stars fade-in blur-ff"></div>
<div class="twinkle-effect"></div>
<div id="sky" class="fade-in blur-ff"></div>
<div class="to-fade-out  fade-in">
    <div id="" class="clouds blur-ff"></div>
</div>
<div id="building" class="blur-ff">
    <div class="flex-container">
        <% for(let i = 0; i < 35; i++){ %>
            <div class="window">
                <!-- for character to walk through -->
                <div class="character"></div>
            </div>
        <% } %>
    </div>
</div>
<div id="resume-parent-div">

    <div id="resume-nav-container">
        <div id="resume-nav">
            <span class="resume-nav-gap"></span>
            <a href="#about-me"><span class="resume-nav-location" id="link-about"><span class="nav-location-num">1) </span>About</span></a>
            <a href="#experience"><span class="resume-nav-location" id="link-experience"><span class="nav-location-num">2) </span>Experience</span></a>
            <a href="#skills"><span class="resume-nav-location" id="link-skills"><span class="nav-location-num">3) </span>Skills</span></a>
            <a href="#education"><span class="resume-nav-location" id="link-education"><span class="nav-location-num">4) </span>Education</span></a>
            <a href="#contact"><span class="resume-nav-location" id="link-contact"><span class="nav-location-num">5) </span>Contact</span></a>
            <span class="resume-nav-gap"></span>
        </div>
    </div>
    <!-- the resume -->
    <div id="resume-main-container">

        <section id="about-me">
            <div class="resume-h1-container" >
                <h1 class="resume-h1" >About Me</h1>
            </div>
            <div class="resume-smaller-container">
                <div class="resume-content" >
                    <p>Hello - thanks for checking out my resume! I found my passion for web development by accident. 
                        I first stumbled into it while trying to make a website for some side income (more on that under "Experience" below). </p>
                    <p>
                        While my career has taken me another route, I always found myself tinkering with code in my spare time and finally came to realize
                        that this is the career path I should have taken. So I am leaping into the new (for me) and exciting world of web development.</p>
                    <p>After graduating university and continuing my career path into real estate, I was coding automation 
                        scripts to help me with my job (Python, VBA, etc.) and building websites for our business. I didn't seem to realize this until 
                         2021, when I decided to take an online full-stack bootcamp.</p>
                    <p>Some irrelevant interests: cars, real estate, photography, the outdoors.</p>
                    <p id="go-on-pc">***P.S. this site is best seen on the computer!</p>
                </div>
                <div class="resume-img">
                    <div class="resume-img-container"></div>
                </div>
                
            </div>
        </section>

        <section id="experience">
            <h1 class="resume-h1" >Work and Coding Experience</h1>
            <br>
            <br>
            <div class="resume-smaller-container">
                    <div id="vertical-tab-container">
                        <div class="vertical-tabs">
                            <button class="vertical-tab-links active-tab" onclick="openCity(event, 'PropSked')">Prop Sked</button>
                            <button class="vertical-tab-links" onclick="openCity(event, 'YelpCamp')">Yelp Camp</button>
                            <button class="vertical-tab-links" onclick="openCity(event, 'FusePM')">Fuse PM</button>
                            <button class="vertical-tab-links" onclick="openCity(event, 'Century21')">Century 21</button>
                            <button class="vertical-tab-links" onclick="openCity(event, 'OtherCoding')">Other Projects</button>
                            <button class="vertical-tab-links" onclick="openCity(event, 'OtherJobs')">Other Jobs</button>
                            
                        </div>
                        
                        <div id="PropSked" class="vertical-tab-content">
                            <h2 class="resume-h2">Prop Sked (Project)</h2>
                            <p class="date">October 2021 - Now</p>
                            <ul>
                                <li><a href="http://propsked.ca" target="_blank">Click here to view Prop Sked</a></li>
                                <li>While still working at Fuse PM at the end of 2021, I began chipping away at a relatively advanced website that allows tenants to easily schedule showings 
                                    without needing to contact the property manager or landlord that is doing showings (tenant screening, automated reminders, etc). </li>
                                <li><strong>Front-end languages / packages</strong>: HTML, CSS, Bootstrap, JS (avoided jQuery or other libraries to learn Javascript properly)</li>
                                <li><strong>Back-end languages / packages</strong>: Node, Express and NPM packages such as EJS, Passport, Flash, Axios, etc </li>
                                <li><strong>Databases</strong>: MongoDB and MySQL </li>
                            </ul>
                        </div>
                        
                        <div id="YelpCamp" class="vertical-tab-content" style="display: none;">
                            <h2 class="resume-h2">YelpCamp (Project)</h2>
                            <ul>
                                <li><a href="" target="_blank">Click here to view project</a></li>
                                <li>A coding practise project to build a camping website with photos and reviews </li>
                                <li><strong>Front-end languages / packages</strong>: HTML, CSS, Bootstrap, JS, jQuery</li>
                                <li><strong>Back-end languages / packages</strong>: Node, Express and NPM packages such as EJS, Passport, Flash, etc </li>
                                <li><strong>Database</strong>: MongoDB </li>
                            </ul>
                        </div>
                        
                        <div id="FusePM" class="vertical-tab-content" style="display: none;">
                            <h2 class="resume-h2">Fuse PM (Job)</h2>
                            <p class="date">January 2017 - January 2022</p>
                            <ul>
                                <li>With an interest in real estate, worked at Fuse PM as a property manager. Handled marketing, renting of properties, leases, and all 
                                    technical/coding-related matters.</li>
                                <li>Co-designed and built the company website with <strong>WordPress</strong>.</li>
                                <li>Used <strong>VBA</strong> in Microsoft Outlook to auto-reply with dynamic messages to prospect inquiries based on specific criteria.</li>
                                <li>Used <strong>Python</strong> to create an automated ad re-listing program of rental properties.</li>
                                <li>Saved company time spent on replying to over 50,000 applicants individually and re-listing ads on a daily basis.</li>
                            </ul>
                        </div>
                        
                        <div id="Century21" class="vertical-tab-content" style="display: none;">
                            <h2 class="resume-h2">Century 21 (Self-Employed)</h2>
                            <p class="date">July 2018 - December 2020</p>
                            <ul>
                                <li>Real estate agent </li>
                                <li>Created a semi-automated system, allowing interested parties without agents to schedule showings using <strong>Active Campaign</strong> and <strong>WordPress</strong>.</li>
                                <li>Designed and built a client prospecting website (Strategic Investments - no longer functional) with <strong>WordPress.</strong></li>
                                <li>Used Excel <strong>VBA</strong> to create an advanced rental property investment calculator to aid in client presentations. </li>
                            </ul>
                        </div>
                        
                        <div id="OtherCoding" class="vertical-tab-content" style="display: none;">
                            <h2 class="resume-h2">Other Coding Projects</h2>
                            <ul>
                                <li>[2021] - Created and implemented web scraper (for personal use) to get immediate notice of availability and price drops
                                    of specified products. Used <strong>Python</strong> and <strong>MySQL</strong></li>
                                <li>[2016] - Self-taught and developed Wanna Live Longer, a health-related website. Used <strong>Dreamweaver, PHP, MySQL, HTML, CSS</strong>
                                </li>
                            </ul>
                        </div>
                        
                        <div id="OtherJobs" class="vertical-tab-content" style="display: none;">
                            <h2 class="resume-h2">Other Past Irrelevant Jobs</h2>
                            <ul>
                                <li>[2016] - CIBC - Financial Service Representative </li>
                                <li>[2014 - 2016] - Fastenal - Sales Representative </li>
                            </ul>
                        </div>
                    </div>
                    
                      
            </div>
        </section>

        <section id="skills">
            <div class="resume-h1-container" >
                <h1 class="resume-h1" >Skills</h1>
            </div>
            <div class="resume-smaller-container">
                <div class="resume-bullet-content" >
                    <h2 class="resume-h2">Web Development Technologies Used</h2>
                    <ul>
                        <li>HTML5, CSS3, JS (ES6), jQuery</li>
                        <li>BootStrap 4 and 5</li>
                        <li>Node, Express</li>
                        <li>AJAX, EJS, Passport NPM Packages</li>
                        <li>MySQL, MongoDB, Cloudinary</li>
                        <br>
                    </ul>
                    </ul>
                    <h2 class="resume-h2">Currently Learning</h2>
                    <ul>
                        <li>React</li>
                        <li>Efficient back-end coding (Big O Notation)</li>
                        <li>Ensuring back-end website security</li>
                        <br>
                    </ul>
                    <h2 class="resume-h2">Other Skills and Traits</h2>
                    <ul>
                        <li>Spoken and Written Languages: English and Russian</li>
                        <li>Other Software Profiency: Adobe Photoshop and Premiere Pro, Microsoft Office</li>
                        <br>
                        <li>Creative and curious, always seeking better and more efficient ways of doing things.</li>
                        <li>Active listener and always open to constructive criticism.</li>
                        <li>Collaborative teammate and empathetic (towards both the business and end user).</li>
                        <li>Self-starter and comfortable working individually with minimal supervision.</li>
                        <li>Great time-management and organizational skills, with ability to work under pressure.</li>
                        <li>Strong critical thinking and problem-solving skills, with ability to prioritize and adapt in a changing environment.</li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="education">
            <div class="resume-h1-container" >
                <h1 class="resume-h1" >Education</h1>
            </div>
            <div class="resume-smaller-container">
                <div class="resume-bullet-content" >
                    <h2 class="resume-h2">Web Developer Bootcamp (2021)</h2>
                    <ul>
                        <li><a href="" target="_blank">Click here to see YelpCamp project (created while learning)</a></li>
                        <li>Developed skills and understanding of modern front and back-end web development</li>
                        <li>HTML, CSS, JS, Node, Express and much more</li>
                        <li><a href="https://www.udemy.com/course/the-web-developer-bootcamp/" target="_blank">Click here to see online bootcamp course</a></li>
                    </ul>
                    <br>
                    <h2 class="resume-h2">Online Courses (2021 - now)</h2>
                    <ul>
                        <li>JavaScript Algorithms and Data Structures</li><!--<a href="https://www.udemy.com/course/js-algorithms-and-data-structures-masterclass/" target="_blank">-->
                        <li>React Bootcamp</li><!--<a href="https://www.udemy.com/course/modern-react-bootcamp" target="_blank"> -->
                        <li>Git & Github Bootcamp</li><!--<a href="https://www.udemy.com/course/git-and-github-bootcamp" target="_blank"> -->
                        <li>Javascript Bootcamp</li><!--<a href="https://www.udemy.com/course/javascript-beginners-complete-tutorial/" target="_blank"> -->
                        <li>MySQL Bootcamp</li><!--<a href="https://www.udemy.com/course/the-ultimate-mysql-bootcamp-go-from-sql-beginner-to-expert" target="_blank"> -->
                    </ul>
                    <br>
                    <h2 class="resume-h2">Ryerson University (2012 - 2016)</h2>
                    <ul>
                        <li>Majored in Finance</li>
                        <li>Minored in Law</li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="contact">
            <div class="resume-h1-container" >
                <h1 class="resume-h1" >Contact Me</h1>
            </div>
            <div class="resume-smaller-container">
                <div class="resume-bullet-content" >
                    <p>I invite you to reach out, as I am looking for new web development opportunities! Text, call, or email me - I look forward to hearing from you. </p>
                    <div id="resume-contact-button-container">
                        <a href="tel:647-894-7265"><div><button class="resume-contact-button">Call/Text</button></div></a>
                        <a href = "mailto: vlad.k123@hotmail.com"><div><button class="resume-contact-button">Email</button></div></a>
                    </div>
                    <div class="social-container">
                        <a href="https://github.com/vladk123"><img class="social-link" src="images/github.png" alt="GitHub Profile Link"></a>
                        <a href="https://ca.linkedin.com/in/vlad-kapitantchouk"><img class="social-link" src="images/linkedin.png" alt="LinkedIn Profile Link"></a>
                    </div>

                </div>
            </div>
        </section>

    </div>
    <br>
    <!-- button to go back -->
    <div id="close-resume" onclick="resumeClose()"><i class="material-icons">close</i></div>
</div>


<script src="js/resume.js"></script>