footer{
    display: flex;
    width: 100vw;
    min-height: 100px;
    text-align: center;
    justify-content: center; 
    align-items: center; 
    background-color: rgba(14, 14, 14, 0.884);
    border-top: #FF3CAA solid 3px;
}