#navbar{
    width: 100%;
    background-color: rgb(27, 27, 32);
    bottom: -100px;
    height: fit-content;
    padding: 20px 0 20px 0;
    color: white;
    /* overflow-x: scroll; */
}

#navbar:not(.sticky-nav){
    position: absolute;
    bottom: 0;

    /* animate it */
    animation-name: pop-in;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-duration: 2s;
    animation-iteration-count: 1;
    /* animate for safari */
    -webkit-animation-name: pop-in;
    -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
}

#navbar a {
    padding: 20px;
    width: 100%;
    color: white;
}

#nav-items-right{
    float: right;
    padding-right: 5%;
}

.sticky-nav {
    position: fixed;
    top: 0;
    z-index: 10;

    /* animate it */
    animation-name: pop-out;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-duration: 2s;
    animation-iteration-count: 1;
    /* animate for safari */
    -webkit-animation-name: pop-out;
    -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
}

@keyframes pop-out {
    0%   { transform: translateY(-100px); opacity: 0; }
    30%  { transform: translateY(10px); }
    50%  { transform: translateY(0); opacity: 1;}
    100% { transform: translateY(0); }
}

@keyframes pop-in {
    0%   { transform: translateY(100px); opacity: 0;  }
    30%  { transform: translateY(-10px);}
    50%  { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(0); }
}

/* anything over bootstrap's (using as reference point) md screen size */
@media screen and (min-width: 768px) {
    #navbar a i {
        display: none;
    }
    #navbar a span {
        display: inline;
    }
}

/* anything under bootstrap's (using as reference point) md screen size */
@media screen and (max-width: 767px) {
    #navbar a i {
        display: inline;
    }
    #navbar a span {
        display: none;
    }
}