/* Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* OVERALL STYLE */
html{
    scroll-behavior: smooth;
    border-radius: 3px;
}

/***** Scrollbar Design (browsers except Firefox and Edge *****/
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #424242;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #686868;
    border-radius: 5px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #808080;
    border-radius: 5px;
}

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: black;
    background-image: url("../images/stars.jpg");
    /* background-repeat: no-repeat; */
    background-size:contain;
    background-position: bottom;
    overflow-x: hidden;

    /* firefox scrollbar */
    scrollbar-width: thin; 
    scrollbar-color: #555 #f1f1f1;
}

.twinkle-effect {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:block;

    background:transparent url(../images/twinkle-filter.png) repeat top center;
    z-index:0;
    
    -moz-animation:move-twinkle-filter 200s linear infinite;
    -ms-animation:move-twinkle-filter 200s linear infinite;
    -o-animation:move-twinkle-filter 200s linear infinite;
    -webkit-animation:move-twinkle-filter 200s linear infinite;
    animation:move-twinkle-filter 200s linear infinite;
}

.grey-layer{
    width:100%;
    height:100%;
    background-color: rgb(255 255 255 / 8%);
}

/* twinkle movement */
@keyframes move-twinkle-filter {
    from {background-position:0 0;}
    to {background-position:-9500px 4750px;}
}
@-webkit-keyframes move-twinkle-filter {
    from {background-position:0 0;}
    to {background-position:-9500px 4750px;}
}
@-moz-keyframes move-twinkle-filter {
    from {background-position:0 0;}
    to {background-position:-9500px 4750px;}
}
@-ms-keyframes move-twinkle-filter {
    from {background-position:0 0;}
    to {background-position:-9500px 4750px;}
}

a{
    color: #3adcff;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

a:hover{
    color: #dcf9ff;
}


h1{
    font-size: 3.5rem;
    font-weight: 900;
}

h2{
    font-size: 2.5rem;
    font-weight: 700;
}

img{
    border-radius: 11px;
    object-fit: cover;
}

.button{
    font-weight: lighter;
    border: #3adcff solid 1px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 8px;
    font-weight: 300;
    font-size: 19px;
    margin: 10px;
    /* background-color: #ffe1a644; */
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

.button:hover{
    border: #3adcff solid 1px;
    border-radius: 5px;
    background-color: #3adbff1a;
}

p{
    font-weight: 200;
}


/* CONTENTS - GENERAL */

.container{
    padding: 8vh 5%;
    max-width: 1500px;
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-size:x-large;
    align-items: center;
    margin: auto;
}

#main-content{
    background-image: url("../images/stars.jpg");
    min-height: 100vh;
    position:relative;
    /* padding: 5vh 5%; */
    margin: auto;
    background-color: #181818;
}

#main-content:not(.twinkle-effect) * {
    z-index: 1;
}

/* fit half on each side */
.half-flex{
    width: 48%;
    min-width: 300px;
    padding: 30px;
    text-align: center;
}


.badge{
    font-size: 14px;
    font-weight: bold;
    background-color: #280733;
    border-radius: 5px;
    padding: 6px;
    display: inline-block;
    transition: transform .2s;
    margin: 5px;
}
.badge:hover{
    font-weight: bolder;
    transform: scale(1.3);
    -ms-transform: scale(1.3); 
    -webkit-transform: scale(1.3); 
}
.badge:active{
    font-weight: bolder;
    transform: scale(1.3);
    -ms-transform: scale(1.3); 
    -webkit-transform: scale(1.3); 
}

hr{
    margin: 20px 0px;
    border-radius: 3px;
}

.hr-left{
    position: absolute;
    width: 80vw;
    height: 5px;
    background-color: #FF3CAA;
    border: none;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.hr-right{
    position: absolute;
    width: 0;
    height: 5px;
    background-color: #3ADCFF;
    border: none;
    right: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

.hr-left.animating, .hr-right.animating{
    /* display: block; */
    width: 80vw;
    animation: slide-in 0.5s forwards 0.3s;
    -webkit-animation: slide-in 0.5s forwards 0.3s;
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}

.img-link{
    /* display: flex; */
    /* flex-wrap: nowrap; */
    /* align-items: center; */
    /* justify-content: center; */
    width: 60%;
    text-align: center;
    position: relative;
}

.img-link-img{
    display: none;
}

.img-link-img.show{
    display: initial;
    opacity: 1;
}
.img-link-img.fade-out{
    animation: fadeOut 1s;
    -webkit-animation: fadeOut 1s;
    -moz-animation: fadeOut 1s;
    -o-animation: fadeOut 1s;
    -ms-animation: fadeOut 1s;
}
.img-link-img.fade-in{
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

/* fadein */
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

/* fadeout */
@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}
  
@-moz-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}
  
@-webkit-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}
  
@-o-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}
  
@-ms-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

blockquote{
    margin: 0 0 10px 0;
    font-size: xx-large;
}

figcaption{
    font-style: italic;
    color: gray;
    padding-bottom: 20px;
    font-size: medium;
}


/***** HERO SECTION *****/
#hero{
    background-image: url("../images/stars-hero.jpg");
    background-repeat: no-repeat;
    /* background-color: black ; */
    background-size: cover;
    background-position: bottom;
    min-height: 100vh;
    position:relative;

    color: white;
    font-weight: 100;
}

#hero-content{
    /* center vertically and horizontally */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    text-align: center;
}

#hero-content > h1{
    text-shadow: 2px 2px #0f2793;
}

/***** ABOUT ME SECTION *****/
#portrait-img{
    width: 80%;
    min-width: 200px;
    max-width: 375px;
    box-shadow: rgba(0, 0, 0, 0.082) 2px 2px 5px 5px;
}

#about-me-content{
    text-align: left;
}

#hidden-about-me{
    opacity: 1;
    max-height: 2000px;
    transition: max-height 0.2s ease-in, opacity 1000ms 0ms;
}

#hidden-about-me.hidden{
    /* display: none; */
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s ease-out, opacity 1000ms 0ms;
}

.social-links{
    padding: 20px;
    font-size: 3rem;
}

.highlight-pink{
    color:#FF3CAA;
}

/***** PROJECTS SECTION *****/
.full-width-header{
    text-align: center;
    flex-basis: 100%;
    position: relative;
}

#projects.container{
    display: block;
}

.project-section{
    padding: 15px 30px 0px 30px;
    margin: 2.5%;
    text-align: center;
    /* border-radius: 11px; */
    /* background-color: blueviolet; */
    display: flex;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.project-section img{
    min-width: 200px;
    max-width: 600px;
    max-height: 40vh;
    width: 90%;
    /* border: blue solid 4px; */
    border-radius: 11px;
    box-shadow: rgba(0, 0, 0, 0.199) 0px 0px 5px 5px;
    box-sizing: border-box;
    border-bottom: #FF3CAA solid 6px;
    transition: transform .2s, box-shadow 1s;
}
.project-section img:hover{
    box-shadow: #ff3caaad 0px 0px 12px 0px;
    transform: scale(1.01);
    -ms-transform: scale(1.01); 
    -webkit-transform: scale(1.01); 
}

.project-section .badge{
    background-color: #bb0e6f;
}

.project-section:nth-child(odd) .badge{
    background-color: #3c45db;
}

.project-section:nth-child(odd){
    text-align: left;
}

.project-section:nth-child(odd) img{
    border-bottom: #5A62E6 solid 6px;
}
.project-section:nth-child(odd) img:hover{
    box-shadow: #5a61e693 0px 0px 12px 0px;
}


.project-descrip{
    padding: 5% 0;
    width: 40%
}


/***** CONTACT FORM *****/

.contact-form{
    /* background-color: rgba(1, 1, 1, 0.5); */
    text-align: center;
    width: 50%;
    min-width: 500px;
    margin: auto;
    padding: 5vh ;
}
  
.contact-form-field{
    width: 95%;
    max-width: 95%;
    background-color: rgba(1, 1, 1, 0.5);
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: #3ADCFF solid 1px;
    border-radius: 5px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: large;
}
  
/* don't show outline when field clicked */
.contact-form-field:active, .contact-form-field:focus{
    outline: 0;
    -moz-outline-style: none;
    outline-style: none;
}
  
#resume-contact-form-button{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 92%;
    max-width: 92%;
    animation: none;
}
  
.contact-msg{
    resize: vertical;
    margin-bottom: 20px;
}
  
/* display message when form submitted */
#form-submitted{
    padding: 20px;
    text-align: center;
    /* background-color: rgb(51, 51, 107); */
    width: 87%;
    margin: auto;
    position: relative;
    display: none;
    border: solid #ff3caa7c;
    border-radius: 11px;
    background: #ff3caa3d;
    margin-top: 20px;
}
  
.message-close{
    position: absolute;
    top: 2px;
    right: 5px;
    padding: 9px;
    cursor: pointer;
}
  
/* when screen is small */
@media screen and (max-width: 576px) {
    p{
        font-size: large;
    }

    .button-container{
      width: 100%;
    }
  
    .resume-contact-button{
      width: 92%;
      margin: auto;
      margin-top: 20px;
    }
  
    .contact-form-field{
      font-size: 2.3vmin;
      letter-spacing: 2px;
    }
  
  }



/* anything over bootstrap's (using as reference point) md screen size */
@media screen and (min-width: 768px) {
    
}

/* anything under bootstrap's (using as reference point) md screen size */
@media screen and (max-width: 767px) {
    
}


/* anything over bootstrap's (using as reference point) lg screen size */
@media screen and (min-width: 992px) {
    
}

/* anything under bootstrap's (using as reference point) lg screen size */
@media screen and (max-width: 992px) {
    h1{
        font-size: calc(2rem + 1.5vw);
    }
    h2{
        font-size: calc(1.7rem + .9vw);
    }
    h3{
        font-size: calc(1.4rem + .6vw);
    }
    .half-flex{
        width: 85%
    }
    .project-section{
        width: 95%;
        margin: auto;
        padding: 30px 0;
        flex-wrap: wrap-reverse;
    }
    .project-section:nth-child(odd){
        text-align: left;
        flex-wrap: wrap;
    }
    .project-descrip{
        width: 100%;
    }
    .project-section img{
        width: 80%;
        max-width: 500px;
    }
    .img-link{
        width: 95%;
        margin: auto;
    }
    #portrait-img{
        width: 80%;
        min-width: 200px;
        max-width: 300px;
    }
    .container{
        flex-wrap: wrap;
        padding: 5vh 3%
    }
    .contact-form{
        width: 95%;
        min-width: 0;
        padding: 1vh;
    }
}