/* Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

/* OVERALL STYLE */
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    
}

a{
    text-decoration: none;
}

a:hover{
    font-weight: 900;
    color: #FFAA05;
}

h1{
    font-size: 3.5rem;
}

#main-content{
    background-image: url("../images/stars-2.jpg");
    /* background-repeat:repeat-y; */
    /* background-color: black ; */
    /* background-size: cover; */
    /* background-position: top; */
    /* min-height: 100vh; */
    /* position:relative; */
    background-repeat: no-repeat;
    background-color: black ;
    background-size: cover;
    background-position: bottom;
    min-height: 100vh;
    position:relative;
}

.content{
    position: relative;
}

/* HERO SECTION */
#hero{
    background-image: url("../images/stars-hero.jpg");
    background-repeat: no-repeat;
    background-color: black ;
    background-size: cover;
    background-position: bottom;
    min-height: 100vh;
    position:relative;

    color: white;
    font-weight: 100;
}

#hero-content{
    /* center vertically and horizontally */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    text-align: center;
}